.op{
    background-color: rgb(250, 167, 181);
    color: aliceblue;
    border-radius: 15px;
    width: 200px;
    height: 60px;
}

#userControls{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap:10px;
}

.block{
    width: 120px;
    padding:12px;
    text-align: centre;
    border-radius: 10px;
    background-color:#ffffff20; 
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.top{
    border: 2px solid yellow;
    transform: scale(1.05);
}

